// Colors

$base-color: #fff;
$black: #000;
$light-gray-color: #efefef;
$body-font-color: #7a7575;
$links-color: #686767;
$brand-primary-color: #9a1d0d;
$brand-secondary-color: #dcc08e;
$border-dotted-color-light: #a6a6a6;
$border-dotted-color-dark: #969696;
$dropdown-background-color: #222;
$box-shadow-light: #d6d6d6;
$widget-background-color: #e7e7e7;
$single-post-title-dark: #2c2c2c;

// Fonts

$primary-title-font: LeagueGothic, 'Saira Extra Condensed', sans-serif;
$primary-body-font: 'Droid Sans', sans-serif;

// Images

$select-arrow: '../images/select-arrow.png';
$top-bottom-border: '../images/bottom-border.png';
