<div class="container">
    <h1 id="main-title">Register</h1>
    <div id="register">
        <form id="register-form">
            <label for="input-name">Name</label><br>
            <input type="text" name="name" id="input-name" class="form-control"/><br>

            <label for="input-username">Username</label><br>
            <input type="text" name="username" id="input-username" class="form-control"/><br>

            <label for="input-password">Password</label><br>
            <input type="password" name="password" id="input-password" class="form-control"/><br>

            <label for="input-avatar">Avatar Image Url</label><br>
            <input type="text" name="avatar" id="input-avatar" class="form-control"/><br>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>